@use 'colors' as *;

@mixin btn {
	width: auto;
	height: 50px;
	border: none;
	margin: 0.5rem;
	padding: 1rem;
	background-color: transparent;
	font-size: 1.9rem;
	text-transform: uppercase;
	cursor: pointer;
	font-family: inherit;
	transition: all 0.4s;
}

@mixin boxItems {
	font-size: 1.8rem;
	padding: 1rem;
	font-family: inherit;
	margin: 3rem;
	width: 250px;
	height: 50px;
	background-color: $red;
	color: $white;
	border: 1px solid $dark;
}

@mixin radioLabel {
	display: block;
	text-align: center;
	width: 130px;
	font-size: 1.5rem;
	height: 55px;
	border: none;
	background-color: $red;
	color: $white;
	text-transform: uppercase;
	font-family: inherit;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;

	&:hover {
		background-color: $gold;
		color: $dark;
	}
}

@mixin resultBtn {
	// display: block;
	// text-align: center;
	width: 250px;
	font-size: 1.5rem;
	height: 55px;
	border: none;
	background-color: $red;
	color: $white;
	text-transform: uppercase;
	font-family: inherit;
	letter-spacing: 1px;
	cursor: pointer;
	transition: background-color 0.4s;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: 2rem;

	&:hover {
		background-color: $gold;
		color: $dark;
	}
}
